<! DOCTYPE html>

<html>
  <head>
    <title>List of Books</title>
    <link type="text/css" rel="stylesheet" href="books_stylesheet.css"/>
  </head>

  <body>
    <div id="top"></div>
    <div id="search">
      <textarea name="searchbox" cols="14" rows="1">Search</textarea>
    </div>

    <div id="cart">
      <a href="">
        <img src="http://blink.ucsd.edu/_images/faculty-tab/Shopping-Cart.png" width="30px" height="30px"/>
      </a>
    </div>

    <div id="back">
      <a href="">
        <img src="https://cdn1.iconfinder.com/data/icons/large-black-icons/512/Undo_arrow_left_edit_back.png" width="27px" height="27px"/>
      </a>
    </div>

    <div id="logout">
      <a href="">
        <img src="https://cdn2.iconfinder.com/data/icons/flaticons-stroke/16/logout-2-256.png" width="25px" height="25px"/>
      </a>
    </div>

    <div id="booklist">
    <a href="www.dictionary.com"><img src="http://www.jahn-bibliothek.ifeas.uni-mainz.de/Bilder_allgemein/Buchruecken_Zusammen.jpg" width="500px"height="150px"></a>
  <h1>LIST OF BOOKS</h1>  
  
 
  
  <style> 
@font-face
{
font-family: castellar;
src: url(sansation_light.woff);
}

div
{
font-family:castellar;
}
</style>
 <table width = "430" height="25">                                          
        
          
  <tr>
  <td style="background-color:#FFD700;width:100px;">
  <a href=""><img src= width="75px" height="85px"></a>

  </td>
  
  <td style="background-color:#800080  ;height:85px;width:400px;">
  <b>Title</b><br>
  <b>Author</b><br>
    Pages:  <br>
  </td>
  </tr>

                                     
</table>                  
 <table width = "430" height="25">                                          
        
          
  <tr>
  <td style="background-color:#FFD700;width:100px;">
  <a href=""><img src= width="75px" height="85px"></a>

  </td>
  
  <td style="background-color:#800080  ;height:85px;width:400px;">
  <b>Title</b><br>
  <b>Author</b><br>
    Pages:  <br>
  </td>
  </tr>

                                     
</table>
 <table width = "430" height="25">                                          
        
          
  <tr>
  <td style="background-color:#FFD700;width:100px;">
  <a href=""><img src= width="75px" height="85px"></a>

  </td>
  
  <td style="background-color:#800080;height:85px;width:400px;">
  <b>Title</b><br>
  <b>Author</b><br>
    Pages:  <br>
  </td>
  </tr>

                                     
</table>
 <table width = "430" height="25">                                          
        
          
  <tr>
  <td style="background-color:#FFD700;width:100px;">
  <a href=""><img src= width="75px" height="85px"></a>

  </td>
  
  <td style="background-color:#800080  ;height:85px;width:400px;">
  <b>Title</b><br>
  <b>Author</b><br>
    Pages:  <br>
  </td>
  </tr>

                                     
</table>
    <h3>bookrental.com</h3>
    </div>

    <div id="bottom">
    </div>
  </body>
</html>
