<! DOCTYPE html>

<html>
  <head>
    <title>Default Web Page</title>
    <link type="text/css" rel="stylesheet" href="default_stylesheet.css"/>
  </head>

  <body>
    <div id="top"></div>
    <div id="search">
      <textarea name="searchbox" cols="14" rows="1">     Search</textarea>
    </div>

    <div id="cart">
      <a href="">
        <img src="http://blink.ucsd.edu/_images/faculty-tab/Shopping-Cart.png" width="30px" height="30px"/>
      </a>
    </div>

    <div id="back">
      <a href="">
        <img src="https://cdn1.iconfinder.com/data/icons/large-black-icons/512/Undo_arrow_left_edit_back.png" width="27px" height="27px"/>
      </a>
    </div>

    <div id="logout">
      <a href="">
        <img src="https://cdn2.iconfinder.com/data/icons/flaticons-stroke/16/logout-2-256.png" width="25px" height="25px"/>
      </a>
    </div>

    <div id="bottom"></div>
  </body>
</html>