{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>

  <body> 
    <div id="login">
      <form align="middle">
      Username: <input type="text" name="Username" value=""><br>
      Password: <input type="text" name="Password" value=""><br>
      <input type="submit" value="Submit">
      </form>
    </div>
    <div id="name">
      <center>
      <h1><strong>Computer Science Book Rental</strong></h1>
      </center>
    </div>
  </body>
</html>
{% endblock %}