<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
<title>Your Cart</title>

</head>

<body>
<form name="input" action="" method="get">
	<div>
		<h1>Your Cart</h1>
		
		<table>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>ISBN</th>
			<th>Quantity</th>
			<th>Cost</th>
			<th>Select</th>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>
				<input type="checkbox"/>
			</td>
		</tr>
		</table>
		<br><br>

		<input type="submit" value="Remove Selected">
		<br><br>

</form>

		<hr>
		<h3>Total: $0.00</h3>

<form action="">

		<input type="button" value="Checkout">

</form>
		
	</div>

</body>

</html>